.body{
    background: #f0f2f5;
    height: 100%;
}
.header{
    background: white;
    border-bottom: 1px solid black;
}
.content{
    min-height: 600px;
    margin: 10px;
}
.footer{
    padding: 12px 50px !important;
    text-align: center;
    border-top: 1px solid black;
}
#root{
    height: 100%
}
